@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body{
    background-color: #11131C;
    font-family: 'Inter', sans-serif;
    color: #fff;
}

.header{
  position: relative;
  text-align: center;
  color: white;
}

.banner{
  width: 2500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title{
  font-weight: 700;
  font-size: 90px;
  margin-top: -350px;
}

.undertitle{
  margin-top: -55px;
  font-size: 25px;
}

.container {
  padding-top: 40px;
   margin: 0 auto;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "BAYC1 BAYC2 BAYC3 BAYC4"
      "TEXT1 TEXT2 TEXT3 TEXT4";
  }
  
  .BAYC1 { grid-area: BAYC1; 
  width: 250px;}
  
  .BAYC2 { grid-area: BAYC2; 
    width: 250px;}
  
  .BAYC3 { grid-area: BAYC3; 
    width: 250px;}
  
  .BAYC4 { grid-area: BAYC4; 
    width: 250px;}

  .TEXT1 
  { 
    grid-area: TEXT1;
    background-color: #fff; 
    color: #000;
    height: 150px;
    width: 250px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
  }
  
  .TEXT2 
  { 
    grid-area: TEXT2;
    background-color: #fff;
    color: #000;
    height: 150px;
    width: 250px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
  }

  .TEXT3 
  { 
    grid-area: TEXT3;
    background-color: #fff;
    color: #000;
    height: 150px;
    width: 250px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
  }

  .TEXT4 
  { 
    grid-area: TEXT4;
    background-color: #fff;
    color: #000;
    height: 150px;
    width: 250px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    text-align: center;
  }
  

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 250px;
  width: 250px;
}

.img-comp-img {
  position: absolute;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
}

.img-comp-slider {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
  content:url(./arrow.svg)
}

.animate{
  text-align: center;
  font-family: "Montserrat",sans-serif;
  font-style: italic;
}

.bayc-color{
  color: #bfc500;
}

.animgrid {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "ApeImg AnimateImg"
    "ChooseApe AnimateApe";
}

.ApeImg { grid-area: ApeImg; }

.AnimateImg { grid-area: AnimateImg; }

.ChooseApe { grid-area: ChooseApe; }

.AnimateApe { grid-area: AnimateApe; }

.selectape{
  background-color: #11131c;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border: 1px solid #b2bd78;
}

.bayc-button{
    background-color: #bfc500;
    border-radius: 8px;
    color: #000;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    padding: 3%;
    margin: auto auto;
    transition: .3s;
    cursor: pointer;
}

.bayc-button:disabled{
  background-color: #ccc;
    color: #666;
    cursor: auto;
  }
